table,td {
    border: 1pt solid black;
}

td {
    width: 10vw;
    height: 10vh;
    text-align: center;
}

td:has(> #num_field) {
    height: 5vh;
    text-align: center;
}

#clear_btn {
    height: 27vh;
}

td > button {
    height: 100%;
    width: 100%
}

#num_field {
    text-align: right;
    height: 100%;
    padding-right: 2vw;
}